<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav menu-ul">
          <li class="active">
            <%= link_to 'Home', root_path, 'data-no-turbolink' => true %>
          </li>
          <li>
            <%= link_to 'View Restaurant', locations_path, 'data-no-turbolink' => true %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>