// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrapper {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
}

.update-location {
  display: none;
}

#location_location {
  border-radius: 3px;
  color: #333;
  font-family: inherit;
  font-size: 17px;
  outline: medium none;
}

#map-wrapper {
  position: relative;
  margin-bottom: 15px;
}

#restaurant-search-map, #map_canvas {
  min-height: 400px;
  width: 100%;
}

#pac-input {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}

.select-business {
  margin-top: 0;
}

.pac-logo::after {
  background: none;
}