// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrapper {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
}

.update-location {
  display: none;
}

#location_location {
  border-radius: 3px;
  color: #333;
  font-family: inherit;
  font-size: 17px;
  outline: medium none;
}

#map-wrapper {
  position: relative;
  margin-bottom: 15px;
}

#restaurant-search-map, #map_canvas {
  min-height: 400px;
  width: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  position: absolute;
  top: 0;
  right: 67px;
  z-index: 200;
}